[2019-02-20 20:21] JamesMilnerUK opened #1 "Remove references to Tango / Aruco"
We are not currently supporting Tango (which I think is now ARCore) or Aruco, so references to this can be removed.

[2019-02-20 20:25] JamesMilnerUK opened #2 "Type all the things!"
At the moment most of the source code is typed as `any` which is a start but not totally useful. Some of the types might require some runtime inspection because they are coming from the vendorered `artoolkit` library.

[2019-02-20 20:27] JamesMilnerUK opened #3 "Use --noImplicitAny in tsconfig"
This should move us on the way to thinking and creating our types

[2019-02-20 20:30] JamesMilnerUK opened #4 "Port SmoothedControls"
It would be good to get this https://github.com/jeromeetienne/AR.js/blob/master/three.js/src/threex/threex-arsmoothedcontrols.js over here as it is used in some of the original demos.

[2019-02-20 20:36] JamesMilnerUK opened #5 "Leverage TypeDoc for documentation"
See https://github.com/TypeStrong/typedoc

We might want to exclude the results from npm however.

[2019-02-20 20:58] JamesMilnerUK opened #6 "Basic usage guide"
Alongside TypeDoc documentation and examples we should have some short guide that explains how to do basic operations like setup a marker.

[2019-02-20 21:02] JamesMilnerUK opened #7 "Determine any unused code"
It is very plausible some of the code in these files will be entirely unused and can probably be deleted. The code was ported from ar.js and it was hard to determine what was relevant and what was not.

[2019-02-20 21:04] JamesMilnerUK opened #8 "Throw errors or warn rather than console.assert"
If the issue is critical we should throw rather than `console.assert` or just `console.warn` if it doesn't have any effect to the end user

[2019-02-20 21:11] JamesMilnerUK opened #9 "Should the API always prefix with AR?"
At the moment everything is prefixed with AR, i.e. `ARSource` but when we use the library it is leverage like `THREEAR.ARSource` so perhaps the AR prefix is unnecessary?

[2019-02-21 20:03] JamesMilnerUK opened #10 "Brave throws CORS error on load of basic example"
Looks like Brave behaves slightly differently then Chrome in some respect to Canvas data. Would be good to figure out what's going on there.

![screenshot_20190221_200247](https://user-images.githubusercontent.com/8822075/53198208-b9bd9a00-3613-11e9-81f4-4f286177fef2.png)

[2019-02-21 22:11] JamesMilnerUK opened #12 "Setup CI"
At the moment we don't have any tests, but we should at least determine the build works and the linter passes.

[2019-02-21 22:42] JamesMilnerUK commented on #1
@ZahraTee sorted this out :+1:

[2019-02-21 22:42] #1 closed

[2019-02-21 23:01] JamesMilnerUK commented on #4
Added in #11

[2019-02-21 23:01] #4 closed

[2019-02-23 16:39] JamesMilnerUK commented on #12
Covered in #14

[2019-02-23 16:39] #12 closed

[2019-02-23 23:31] JamesMilnerUK commented on #3
Resolved in #15

[2019-02-23 23:31] #3 closed

[2019-02-23 23:33] JamesMilnerUK opened #16 "Basic browser testing"
It would be good to test the library in an actual browser. I'm not sure how realistic this is in as we'd probably need to mock `getUserMedia` and some other things, but it could be quite powerful in detecting that the code loads without errors as a minimum and potentially regressions we got it working.

[2019-02-23 23:34] JamesMilnerUK commented on #16
Options might be frameworks like Intern, Karmatic or jest-puppeteer.

[2019-02-24 13:44] JamesMilnerUK opened #17 "Port all relevant examples from ar.js"
And also add them to the index page

[2019-02-24 14:13] JamesMilnerUK opened #18 "Bundle in camera_para?"
At the moment you have to pass in an explicit URL. I think it would make sense to make it bundle in by default and then you can explicitly override it with a URL?

[2019-02-24 14:23] JamesMilnerUK opened #19 "Test everything works okay as an npm module"
I want to ensure that this works via npm and then also in conjunction with a bundler

[2019-02-25 17:24] janpio opened #20 "Aframe?"
A lot of the popularity of AR.js comes from being compatible with Aframe, which is even simpler than using three.js. Are you planning / thinking about supporting this as well?

[2019-02-25 20:18] JamesMilnerUK commented on #20
@janpio I did consider it, but I think actually sticking to one target library helps keep things focused. AR.js is a big repository that covers a lot of ground and I think that by keeping to one library this will hopefully be easier to maintain and develop.

I have a lot of respect for Aframe and totally agree it is simpler to use, but it also (to my understanding) isn't quite as flexible and as s

[2019-02-25 22:45] JamesMilnerUK opened #22 "Build our own version of ARToolkit"
It might be possible to get a more optimal build that exports to an ES6 Module if we build our own verison of ARToolkit, potentially stripping out all the Node specific code too.

[2019-02-25 23:00] JamesMilnerUK opened #23 "Run ARToolkit in a Worker?"
Assuming the data transfer times are low and that `ARToolkit.detectMarker` doesn't touch the DOM or related APIs, there's no reason we could put it into a worker.

[2019-02-26 09:29] janpio commented on #20
That is of course a valid decision.

Maybe it will be possible to add an Aframe layer on top when the Three.js support is done.

(Anecdotal data: Most of the AR.js usage. at least according to Stack Overflow questions and issues created is via Aframe)

[2019-02-26 22:34] JamesMilnerUK commented on #9
I've decided that the AR prefix doesn't make sense as it's already namespaced to `THREEAR`

[2019-02-26 22:34] #9 closed

[2019-03-02 23:26] JamesMilnerUK opened #31 "Allow camera source to work at different element sizes"
At the moment the video source works completely on the basis that the element is full screen. This is a pretty large assumption and it would be nice to be able to use a different sized container (i.e. half screen for example)

[2019-03-03 01:51] #18 closed

[2019-03-10 19:54] JamesMilnerUK commented on #19
I check that this worked in a sample project and everything seemed fine :)

[2019-03-10 19:54] #19 closed

[2019-03-10 23:26] JamesMilnerUK commented on #5
#39 resolves this, although the actual documentation needs filling out

[2019-03-10 23:26] #5 closed

[2019-03-15 16:04] stephanedemotte opened #40 "Ability to change facingMode, Source.ts"
Hello, thanks for this plugins !!

Could be great to have to ability to change the facingMode with a new parameter in Source.ts

Selfie is popular :)

Thanks !

[2019-03-15 17:16] stephanedemotte opened #41 "Abililty to specify the camera container"
By default you inject the camera (<video>) in the document.

Could be cool to inject it in a div... or any dom element :)

[2019-03-15 17:17] stephanedemotte opened #42 "Destroy options."
I use it with in a SPA.

Could be great to add the possibility to destroy the sources and controller .

Thanks !

[2019-03-15 17:50] stephanedemotte opened #43 "minConfidence not set in PatternMarker.ts"
https://github.com/JamesMilnerUK/THREEAR/blob/799d17c/src/PatternMarker.ts#L22

`this.minConfidence = parameters.size || 0.6;`

Should be `this.minConfidence = parameters.minConfidence || 0.6;` ?

Thanks !

[2019-03-15 20:34] JamesMilnerUK commented on #42
Thanks for raising this issue. This is definitely on the to-do list, I think we just need to be careful to find all the listeners and references and remove them appropriately from memory. I am confident it's possible and not too much of a big task!

[2019-03-15 20:34] JamesMilnerUK commented on #43
Yes, this is definitely an error on my part. I will fix it, unless you feel like raising a PR @stephanedemotte since you've figured out what's wrong? :)

[2019-03-15 20:35] JamesMilnerUK commented on #40
Hello! Thanks for raising this issue. I think this should be possible. Let me look into it and figure out how straightforward it is.

[2019-03-15 21:34] JamesMilnerUK commented on #41
I think this is partly related to #31. I did have a branch where I allowed people to provide there own camera dom element, but the problem is that it has to be full screen to work correctly. If the div has to be full screen, at the moment it doesn't seem to make too much difference if the library generates the DOM element on the user does, because it will have to occupy the whole screen (`position

[2019-03-15 22:55] #40 closed

[2019-03-16 19:23] JamesMilnerUK opened #46 "Keep a changelog"
Keeping a changelog will allow us to keep track of whats happened between releases. I am considering using https://www.npmjs.com/package/auto-changelog. Ideally I would like to use semantic versioning going forward. At the moment I am aiming to solidify the API so that we don't have to break major bump all the time in the future.

[2019-03-16 19:26] JamesMilnerUK commented on #41
@stephanedemotte I am going to close this as I think I resolved it in #45 :smile:

[2019-03-16 19:26] #41 closed

[2019-03-16 23:18] #43 closed

[2019-03-17 00:09] #42 closed

[2019-03-17 00:16] JamesMilnerUK commented on #42
@stephanedemotte hope this solves your issue! Just about to release a new version `v1.0.0-alpha.2`

[2019-03-17 00:22] JamesMilnerUK commented on #46
Resolved in #49

[2019-03-17 00:22] #46 closed

[2019-03-17 00:23] JamesMilnerUK commented on #20
@janpio going to close this now, but just wanted to say thanks for raising it!

[2019-03-17 00:23] #20 closed

[2019-03-17 00:24] JamesMilnerUK commented on #8
According to GitHub there are no more `console.assert`s ! :1st_place_medal:

[2019-03-17 00:24] #8 closed

[2019-03-17 10:50] JamesMilnerUK opened #50 "Handle flickering"
It would be nice to prevent markers from flickering on and off when they are detected/not detected in short intervals (say, sub second).

[2019-03-18 17:28] 0b01001101 opened #52 "Z-fighting bug"
Same bug as in Ar.js, solved it by myself see:
https://github.com/jeromeetienne/AR.js/issues/146#issuecomment-474017046

[code]

[2019-03-18 23:37] JamesMilnerUK commented on #52
Thanks for posting your solution to that problem. I am not totally sure if this is something that could be fixed at the library level or if it's something that should be being applied in user land code with Three.js?

[2019-03-18 23:51] 0b01001101 commented on #52
Maybe you can set the default near plane of the camera to 0.1 or 0.01, I think it would be an better default value than 0.0001.

One possibility is my workaround or maybe use the setProjectionNearPlane in arjs.artoolkit.debug.js

[2019-03-19 20:38] JamesMilnerUK commented on #52
@0b01001101 thanks for the advice. Do you happen to have a reproduceable model / example source code I can play with by any chance?

[2019-03-22 13:48] stephanedemottedpt opened #53 "marketLost event"
Hello , thanks for closing all my issues/demand you rock !!

One more for you :)

We have markerFound event, but i don't see any markerLost ?
Something like that exist ?

Thanks !

[2019-03-22 19:30] stephanedemotte opened #54 "Wierd Width / Height"
Hello.

We need to put video into the canvas to take a screenshot via `canvas.toDataUrl('png')`

For anyone we simply `scene.background = new THREE.VideoTexture(source.domElement)`

But when we shoot the canvas, the width and height is is the same than what we see.
You use a bigger canvas than the screen, and re-center it with `margin-left` or `margin-top`.

Can you add a param to disable the `kee

[2019-03-22 21:34] JamesMilnerUK commented on #54
@stephanedemotte I'm guessing this is to do with the way in which the `webcam` source sets the `objectFit` property for its `HTMLVideoElement`: https://github.com/JamesMilnerUK/THREEAR/blob/master/src/Source.ts#L303

Does that sound right to you? I'm not entirely sure how to provide the parameter you're asking for or how to make it work for your use case so any code samples or deeper explanation w

[2019-03-24 15:14] 0b01001101 commented on #52
Added it to: https://github.com/0b01001101/THREEAR/tree/zfighting
model/zfighting
examples/bug-zfighting.html

On line 75/76 in _bug-zfighting.html_ you can "enable/disable" the bug

[2019-03-24 22:19] JamesMilnerUK commented on #52
@0b01001101 thanks so much! I will take a look

[2019-03-26 00:02] #53 closed

[2019-03-26 21:05] stephanedemotte commented on #54
Sorry @JamesMilnerUK my english suck, i will try to be more clear

In https://github.com/JamesMilnerUK/THREEAR/blob/master/src/Source.ts#L201
In the onResizeElement function you make the canvas bigger than the window, then you center with martin-left or margin-top, is it possible to keep the canvas and the window the same size ?

[2019-04-10 22:34] stephanedemotte opened #61 "THREEAR.js (2mb)"
Hello

THREEAR.js really is 2mb ?

https://github.com/JamesMilnerUK/THREEAR/blob/master/dist/THREEAR.js

It's so big, webpack freeze on build.

Thanks

[2019-04-11 14:55] stephanedemotte opened #62 "Create / Dispose doesn't work second time"
Hello,

I try to dispose and recreate but it doesn't work.
I try with your [example](https://jamesmilneruk.github.io/THREEAR/examples/basic-dispose.html). But it's the same.

Wen we create, the Hiro marker is detected, i dispose it, recreate. And the hiro is no more detected.

Thanks !

[2019-04-17 22:13] 0b01001101 opened #63 "Out of Memory FirefoxMobile"
I get an out of memory exeption in FF Mobile on a Xiomi Mi8[MIUI10.2, Android] on all online examples
But Chrome Mobile works

![Err](https://user-images.githubusercontent.com/20306567/56324274-b6a3dd80-616e-11e9-934c-299814d83d2c.PNG)

[2019-04-17 22:18] 0b01001101 opened #64 "Scaling Issure on Opera Mobile"
Opera Mobile v51.2.2461.137690

![grafik](https://user-images.githubusercontent.com/20306567/56324455-2e720800-616f-11e9-9b37-5da580ea8a37.png)

[2019-04-17 22:43] 0b01001101 commented on #61
If you use gzip compression you can reduce the size dramatically: gzip - [uncompressed]
THREEJS: 353kB - [550kB]
THREEAR: 343kB - [1390kB]
SUM: 700kB - [1940kB]

But an WebAssembly version of the libary would also be great.

[2019-04-17 22:50] 0b01001101 opened #65 "Typescript Errors"
Make input params optimal
Export type THREEAR.Controller

![Typescript](https://user-images.githubusercontent.com/20306567/56325791-df7aa180-6173-11e9-8e77-5061a7f609aa.png)

[2019-04-17 23:03] JamesMilnerUK commented on #61
@stephanedemotte unfortunately so. This is all almost exclusively because of the artoolkit Emscripten build: https://github.com/JamesMilnerUK/THREEAR/blob/master/src/artoolkit/lib/arjs.artoolkit.debug.js (3mb before minification). There might be a way to compile a smaller version but I really haven't tried or have time to do so. There is an open issue at #22 if anyone is interested. For now I will

[2019-04-17 23:51] 0b01001101 commented on #63
I made som experiments with basic-image-source [Becouse it is really simple, no webcam]

In Chrome: const. 263MB
![MemoryChrome](https://user-images.githubusercontent.com/20306567/56327735-15bc1f00-617c-11e9-93d5-125041dd0854.PNG)

In Firefox:
![MemoryFF](https://user-images.githubusercontent.com/20306567/56327751-2e2c3980-617c-11e9-9a54-44259c4f1815.PNG)

In Firefox without controller.update(sour

[2019-04-18 00:43] 0b01001101 commented on #63
Seems like getImageData in ARToolKitController.ts#L1077 causes the memory leak

https://github.com/JamesMilnerUK/THREEAR/blob/63ea8ac0389e60f137148928710df246f9ad5f6e/src/artoolkit/ARToolKitController.ts#L1077

[2019-04-18 02:21] 0b01001101 commented on #63
Issue can be closed for now, we can't do much to solve it

[2019-04-18 14:45] 0b01001101 opened #67 "Exclude three.js from libary"
![threearThreejs](https://user-images.githubusercontent.com/20306567/56368484-d03d3780-61f7-11e9-9a15-0cc4028127e0.PNG)

Would be nice if we exclude three.js from threear, so both libarys could be imported independently. [What I need for an other project with a big webpack config]
Even the examples include both libs seperately

[2019-04-21 10:48] JamesMilnerUK commented on #67
This has been remedied by #68. Thank you! @stephanedemotte this maybe helps with #61 a little too :)

[2019-04-21 10:48] #67 closed

[2019-04-24 22:20] JamesMilnerUK commented on #65
I think this can be resolved now @0b01001101 ? Feel free to open a new issue if there are any more missing types

[2019-04-24 22:20] #65 closed

[2019-04-24 22:21] JamesMilnerUK commented on #63
Closing as it appears to be a browser level bug.

[2019-04-24 22:21] #63 closed

[2019-04-24 22:23] #62 closed

[2019-04-25 22:41] JamesMilnerUK commented on #50
This should be fixed by the `lostTimeout` parameter which defaults to 1000ms

[2019-04-25 22:41] #50 closed

[2019-04-26 14:25] 0b01001101 commented on #17
A list of some other ar examples: https://stemkoski.github.io/AR-Examples/

I will make the hole in the floor and maybe a portal example soon.

[2019-05-01 19:01] rremigius opened #75 "Low quality rendering"
Hi, nice adaptation from AR.js! Great improvement to be able to run in a div, turn on/off, etc. More modular.

An issue I had with AR.js and still with this library, is that, using this library, the rendering of my objects becomes really low quality. I haven't been able to figure out how to tweak it.

This is the object in plain THREE.js:
![Screenshot from 2019-05-01 20-49-48](https://user-images.

[2019-05-01 19:05] 0b01001101 commented on #75
See https://github.com/JamesMilnerUK/THREEAR/issues/52

Hope it will be fixed in the libary soon https://github.com/JamesMilnerUK/THREEAR/pull/71

[2019-05-01 21:13] rremigius commented on #75
Thanks a lot! That does the trick for now (https://github.com/JamesMilnerUK/THREEAR/issues/52)

[2019-05-01 21:13] #75 closed

[2019-05-02 21:48] JamesMilnerUK commented on #75
@rremigius that is #71 is merged now, hope to release earlier next week (I'm away this weekend). Glad you're enjoying the library.

[2019-05-03 08:58] rremigius commented on #75
Great! Thanks, have a good weekend!

[2019-05-04 16:23] commentatorboy commented on #10
Have you tried to disable their shield?
Also it might also be because of the url in localhost is not https.

[2019-05-09 15:14] kalwalt opened #76 "Can not import THREEAR as a module"
Hi @JamesMilnerUK i m testing your lib with React, maybe not the simple approach but was wondering that maybe is easier that others. i have this setup:

1. i created a simple app with create-react-app command
2. i have installed the packages with `npm install three threear`
3. inside App.js i have this code:

[code]
the Three code works fine If i uncomment the AR require, but with this i get:

[co

[2019-05-09 22:02] JamesMilnerUK commented on #10
@commentatorboy that is plausible, I'll test this again when I get some time. Thanks for your input!

[2019-05-09 22:04] JamesMilnerUK commented on #76
Thanks for raising this. I have tested installing with npm and it seemed to work okay, although I haven't tested it since externalizing Three.js so maybe I missed something. I will have a play when I get some time.

[2019-05-10 12:22] kalwalt commented on #76
Thank you @JamesMilnerUK ! Let me know when you have some news.

[2019-05-12 20:03] #76 closed

[2019-05-12 20:04] JamesMilnerUK commented on #52
In theory this is fixed now, will release soon.

[2019-05-12 20:04] #52 closed

[2019-05-12 20:36] JamesMilnerUK commented on #61
I actually figured out we include the `debug` version of `artoolkitjs`. I used the `min` version (https://github.com/jeromeetienne/AR.js/blob/master/three.js/vendor/jsartoolkit5/build/artoolkit.min.js) and we're down to `763 KiB`. That's still obivously enoromous but much better than 2mb and is under ar.js which comes in at  929 KB.

[2019-05-12 21:18] #61 closed

[2019-05-12 21:20] JamesMilnerUK commented on #10
@commentatorboy you were right, disabling Shields fixed this issue.

Going to close. Might be worth updating the README to reference this issue at some point.

[2019-05-12 21:20] #10 closed

[2019-05-12 21:23] JamesMilnerUK commented on #7
Using the Chrome coverage tool might be useful here: https://www.vojtechruzicka.com/measuring-javascript-and-css-coverage-with-google-chrome-developer-tools/

[2019-05-12 23:01] JamesMilnerUK commented on #76
@kalwalt this is resolved now! Was a tricky issue with Webpack `externals` not being configured quite correctly to work with Three.js. Anyway, just install the latest version (`v1.0.0-alpha.4`) and you should be good :) Again thanks for trying it out!

[2019-05-13 08:01] kalwalt commented on #76
Yes i saw the latest and i confirm thtat it works as expected! @JamesMilnerUK that is perfect!

[2019-05-13 09:17] kalwalt commented on #76
You can find in this github repo the example: https://github.com/kalwalt/react-AR-experiments

[2019-05-13 09:38] kalwalt commented on #20
Sorry to re-open this but i think that `Aframe + TREEAR` it will be a nice feature indeed. Maybe a parallel project?

[2019-06-06 20:02] stephanedemotte opened #83 "Remove Marker"
Hello,
There a way to remove a marker ?

Once added, maker is always tracked. Even if i "dispose" the controller.
I need to track different marker, but one at the time.

For the moment i have hack your code with a "canBeSearch" flag, but maybe there are a better way ?

Thanks !

[2019-06-24 10:12] nicolocarpignoli opened #84 "NFT support"
Hi, I am the lead maintainer of AR.js, I saw your project time ago, great great job!
I have a question: if you have time to give a look to this issue (https://github.com/jeromeetienne/AR.js/issues/544): it is an attempt to bring NFT feature on AR.js (but it can also, obviously, be brought to THIS library of yours) using the NFT branch of jsartoolkit. Such branch is outdated, but it seems to work s

[2019-06-24 13:29] vince7844 commented on #17
Hello JamesMilnerUK,

I'm using your library for a project but I see that I can only display a 3D Object with PatternMarker.

Is it possible to display a 2D Object as a picture, for exemple with ImageLoader class from Three.js ?

Or maybe is there a way to test ImageTexture as implemented with AR.js examples ?

Thank you in advance for you answer.

[2019-06-24 13:38] 0b01001101 commented on #17
You can generate generate an
https://threejs.org/docs/index.html#api/en/geometries/PlaneBufferGeometry
with the texture of the material set to the image

Something like that with PlaneBufferGeometry
https://github.com/mrdoob/three.js/blob/master/examples/webgl_loader_imagebitmap.html

[2019-06-24 15:42] vince7844 commented on #17
Thank you, it works :)

I guess it's possible to implement 3D Text too with TextGeometry from Three.js ?

[2019-06-25 22:32] JamesMilnerUK commented on #84
Hi @nicolocarpignoli thanks for the issue. I haven't looked into this, as it was difficult enough getting things working and refactoring the codebase. If the NFT branch if artoolkit can be compiled correctly, I could look into adding it to the library in the future.

[2019-06-25 22:34] JamesMilnerUK commented on #83
Hi @stephanedemotte, I can potentially look into this when I have some bandwidth but I'm a bit tied up a the moment. Feel free to raise a pull request if you are feeling up to it.

[2019-07-04 08:18] 0b01001101 opened #85 "Location based AR support"
Location based tracking with gps position and device orientation

Likely it will only be usefull if the target position is further away than 25-50m, but it opens a lot of new possibilitys like some navigation or geosearch apps

There is an experiment in ar.js:
https://github.com/ARjs-org/location-based-ar

I will make some experiments next week

[2019-07-04 08:20] nicolocarpignoli commented on #85
Hi, I have recently found that project too but never run it. Let us know if it's working (I see it uses 0.6.1 version of aframe that is obsolete ma maybe it is still working tho)

[2019-07-05 18:35] JamesMilnerUK commented on #83
I had a little go at tackling this today, but it seems tricky as there's no sensible way to remove the marker on the artoolkit side of things. I would have to think about this more.

[2019-07-12 01:11] imokya opened #86 "Build static version of jsARtoolkit"
Im trying to make THREEAR work in a webapp enviroment which disables eval() and new Function() syntax.
Is it possible to build a static version of jsARToolkit with NO_DYNAMIC_EXECUTION=1 flag?
I successfully compiled the jsARToolkit , but could not make it integrate with THREEAR.

[2019-07-12 05:25] imokya commented on #22
how do you build jsARToolkit?  I built my own jsARtoolkit.js with '-s ENVIRONMENT=web' flag, replaced 'src/artoolkit/lib/arjs.artoolkit.min.js' then generated the THREEAR.js. but got runtime error 'artoolkit is not defined' with THREEAR examples.
The generated artoolkit.min.js works fine with AR.js examples.

[2019-07-12 07:26] imokya commented on #86
Somehow I figured it out.

[2019-07-12 07:26] #86 closed

[2019-07-14 00:00] 0b01001101 commented on #85
I wrote a location based ar lib: [still under development]
https://github.com/0b01001101/locationar

[2019-07-14 01:04] imokya opened #87 "Issue with the examples."
I use my android cellphone to test the examples. Only the basic.html works, for the others I got 'Uncaught ExistStatus' Exceptions.

[2019-07-14 13:50] JamesMilnerUK commented on #87
Hi @imokya, thanks for your issue. Can you please let me know your browser version and paste the full stack trace below? Thanks.

[2019-07-14 23:08] imokya commented on #87
I retested the basic-cutout example. it seemed to work fine. im sorry for that and thanks for the reply.

[2019-07-14 23:08] #87 closed

[2019-07-17 09:36] imokya commented on #31
I run into same kina problem. I'm using THREEAR in an app environment which provides API for getting camera frame data. So I modified the THREEAR API to accept typedarray instead of html element. Sine the given camera data is fixed size in portrait mode, the threejs camera works in wrong aspect ratio. don't know how to fix it.

[2019-07-17 09:48] imokya commented on #31
I run into same kina problem. I'm using THREEAR in an app environment which provides API for getting camera frame data. So I modified the THREEAR API to accept typedarray instead of html element. Sine the given camera data is fixed size in portrait mode, the threejs camera works in wrong aspect ratio. don't know how to fix it.

[2019-07-17 09:52] imokya commented on #31
I got two examples to stress the problem.
fixed size landscape video: https://www.xingway.com/ar2/basic2.html (works fine)
fixed size portrait video:  https://www.xingway.com/ar2/basic.html (camera aspect goes wrong)

[2019-07-17 19:28] 0b01001101 commented on #31
From what I know the camera's aspecto Ratio is always 4/3 regardless of the screen orientation, so maybe you have to change the aspecto after thr source is initialized, depending on the orientation

https://stackoverflow.com/questions/46182845/field-of-view-aspect-ratio-view-matrix-from-projection-matrix-hmd-ost-calib

[2019-07-17 23:06] imokya commented on #31
hi @0b01001101
thanks for the reply. the examples use basic three camera which dosen't take fov, aspect ratio into acccount.
I tried to use perspective camera and upateProjectionMatrix after the source initializiation. the stretching issue gone, but the 3D Object dosen't attatch the marker correctly anymore.

[2019-07-17 23:53] imokya opened #89 "Is it possible to use perspective camera?"
currenty the library dosen't work with different size video source. Given a portait video source(height>width), the 3D object gets stretched. When I switch to perspective camera, the stretching issue gone, but the 3D object dosen't perfectly attatch to the marker. Is it possible to use perspective camera in the first place and aslo attatch to the marker correctly ?

[2019-07-18 00:22] 0b01001101 commented on #89
What aspecto ratio do you use for the Perspective camera?
Try to use 4/3 or 3/4 as the aspecto for the Camera
[If the Source Stream isn't 4/3[or 3/4], maybe you should crop it to 4/3]

[2019-07-18 00:40] imokya commented on #89
hi @0b01001101
thanks for the reply.
cause I can only access the camera frame data(fixed size raw bufferarray), there is no way I can crop the display. Why the library only works in ratio 4/3? It is possible to make it work other aspect ratios?

[2019-07-18 03:44] imokya commented on #89
test perspective camera with 3/4 aspect ratio, 3D model dosen't attach correctly, while 4/3 ratio is fine
demo 4/3 https://www.xingway.com/ar2/basic2.html
demo 3/4 https://www.xingway.com/ar2/basic.html

[2019-07-19 23:03] imokya commented on #89
it is an issue ralated to camera parameters file?

[2019-07-20 19:23] 0b01001101 commented on #89
I think in the that file the aspecto is set to 4/3 so jsartoolkit expects that aspecto ratio

[2019-07-26 14:17] floogulinc opened #90 "Lost markers are not always detected"
Firstly, thank you for making this library. It is much easier to use and read, especially for an Angular project like what I'm working on.

We are having an issue with THREEAR where our barcode markers being reported as found long after they have been removed from the image. This happens when a single marker is being found and then the camera is moved off of it. The `lostTimeout` does not seem to

[2019-07-29 20:09] JamesMilnerUK commented on #90
Hi @floogulinc I think I see what you're saying. Let me have a look at trying to get that fixed. Thanks!

[2019-07-29 20:14] JamesMilnerUK commented on #90
@floogulinc if you get the chance can you post an example of the issue so I can reproduce?

[2019-07-29 20:56] #90 closed

[2019-07-29 21:50] JamesMilnerUK commented on #90
I just released v1.0.0-alpha.5 which should fix this. Let me know if it does! @floogulinc

[2019-08-05 12:53] allrightzhu opened #94 "How can I build a version without new Function and eval？"
Like the problem(Build static version of jsARtoolkit),How can I build a version without eval and new Function? Because I run this in an environment that don't support eval and new Function.

[2019-08-06 15:27] floogulinc commented on #90
@JamesMilnerUK It appears to have fixed the issue. Thanks!

[2019-08-07 11:51] allrightzhu commented on #94
I got it

[2019-08-07 11:51] #94 closed

[2019-11-08 22:54] marcvoegele opened #97 "More then one Marker/ Multi-Marker?"
- Is there an option to use more then one marker in this package?
As example for the case: If marker one is detected, funtion one would be activated. If marker two is detected, function two would be activated. If both markers are detected, both option would be activated.
- Is there an option to use a multi-marker (several markers acting as one)

[2019-12-03 09:41] dirkk0 opened #98 "Example links not working"
Hi,

the
- Docs
- Examples (Source)
- Examples (Live)

point to https://jamesmilneruk.github.io/THREEAR/docs etc which don't seem to exist.

Best regards,
  Dirk

[2019-12-03 20:05] JamesLMilner commented on #98
@dirkk0 yeah, that happened as I changed my GitHub handle and haven't had time to change the URLs. I will make a PR the next time I have availability.

[2019-12-04 23:24] JamesLMilner commented on #98
This is fixed in #99

[2019-12-04 23:24] #98 closed

[2020-01-18 09:56] kalwalt commented on #84
Hi @JamesLMilner we are merging the **NFT** feature into the master branch of [jsartoolkit5](https://github.com/artoolkitx/jsartoolkit5/) see this PR https://github.com/artoolkitx/jsartoolkit5/pull/86 and this PR https://github.com/kalwalt/jsartoolkit5/pull/1 on my repo. If you plan to add **NFT** into **THREEAR** and you need some help just ask, i will happy to support you.

[2020-01-19 19:31] JamesLMilner commented on #97
Hi @marcvoegele

In honesty my current understanding is that it doesn't. However, the converted code from AR.js https://github.com/JamesLMilner/THREEAR/blob/799d17c08416e49fbf6ee04da6d47e182124f991/src/artoolkit/ARToolKitController.ts#L208 seems to contain references to the multimarker functionality, but I never actually tested it to make sure that it works. You could have a go at exposing it by c

[2020-01-19 19:39] JamesLMilner commented on #84
@kalwalt that's super cool! One thing we'd need to do is compile a new version of jsartoolkit for the project and test that it doesn't break any of the current features. However this is a big ask and might be more than you fancy doing so I totally understand if not. After that it'd need to be exposed in the controller (https://github.com/JamesLMilner/THREEAR/blob/799d17c08416e49fbf6ee04da6d47e1821

[2020-01-19 19:40] JamesLMilner commented on #85
I noticed @nicolocarpignoli released https://github.com/nicolocarpignoli/GeoAR.js. I wonder if it would be possible to compile this into the library and expose it with our API for Three.js? Unfortunately I don't have the time allocation to do this right now, but it's an idea to put out there if anyone is interested.

[2020-01-19 19:47] kalwalt commented on #85
Hi @JamesLMilner ! Locatation based AR is now in a feature inside Ar.js now, It is based on the @nicolocarpignoli https://github.com/nicolocarpignoli/GeoAR.js maybe he can help you in some way.

[2020-01-19 19:57] nicolocarpignoli commented on #85
Hi everybody!

As for now, the location-based feature of AR.js is only a-frame side.
Should not be difficult to port it on three.js, so @JamesLMilner with a bit of work should be possible :)

[2020-01-19 20:03] kalwalt commented on #84
@JamesLMilner The new jsartoolkit5 has some improvements and differences in rispect of the jsartoolkit version you used for **THREEAR**. Firstly the **WASM** support and the **NFT** feature of course, to add the WASM feature was necessary  doing some changes at the beginning and in the last part of the lib where onRuntimeInitialized is called. Apart this fact I think that there are not so great ch

[2020-04-02 05:31] russdanner commented on #84
HI there is a ticket #97 that asks about multi-market support which I assume is in relation to NFT. Is there support for multi-market in the recently released NFT support? If not, is there a plan to support it?

I've done some testing and AFAIK only the last marker specified is used.

[2020-04-05 13:29] AlgoSurg opened #103 "Marker Size parameters"
Is there any way I can assign marker size. Currently, a cube of 1mm length is equal to the marker size, so the marker size is considered as 1 unit. Can I change it to 0.1 units? So that the entire scene will be relatively smaller w.r.t. the marker in the AR scene. There was a parameter named 'size' in ThreeARtoolkit but I could not figure that out in this library.

[2020-06-27 04:17] jachin commented on #6
This is a great project. I've been fumbling around with artoolkit for a few months now, trying to build web components for this marker based augmented reality stuff.

I've found a few other project, but this one is very readable. I've already learned a few things just reading the comments.

Anyway, I just wanted to say thanks, it looks like you put a lot of effort into this.

[2020-06-28 18:14] JamesLMilner commented on #6
@jachin thank you for your kind words. In honesty I do not have the time I used to to focus on this project and it looks like AR.js is getting a bit more traction and work being put into it now. In honesty this project grew out of a frustration with the AR.js code at the time, finding it quite opaque and struggling tot get it working with modern JS tooling (npm, webpack etc). Hopefully those thing

[2020-07-25 08:42] Epiczzor opened #106 "Error when using with React"
Hey
So i am trying to make this work with my React and react-three-fiber project
i followed the repo you mentioned on #76 as [here](https://github.com/kalwalt/react-AR-experiments/tree/master/react-threear-example)

I get the following console logs
[code]
And then I am getting the following error
`
Uncaught TypeError: Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The provided value

[2020-07-25 12:30] Epiczzor commented on #106
I solved this issue, it is not an error with THREEAR

the setup in the [repository](https://github.com/kalwalt/react-AR-experiments]) was incorrect, i had to initialize threear outside the render function, ill put up a repository shortly with a boiler plate of integrating this with React

[2020-07-25 12:31] #106 closed

[2020-07-31 19:55] JamesLMilner commented on #106
Glad you managed to get it sorted!

[2020-08-03 11:35] planetMatrix opened #108 "Is there any way to detect Marker found? - Solved"
Hi there,

WEB AR Noob here, so please pardon.

I want to hide a Div when marker is found.

I found this [https://jameslmilner.github.io/THREEAR/docs/classes/patternmarker.html#found](https://jameslmilner.github.io/THREEAR/docs/classes/patternmarker.html#found)

But don't know how to ad **if** statement in the basic demo.

Many thanks

[2020-08-03 12:39] planetMatrix commented on #108
Oops, I was not looking harder !!

[https://github.com/JamesLMilner/THREEAR/blob/cc6b2905f4d6dfad8deae4e90f6da536b57f530a/examples/basic-marker-events.html](https://github.com/JamesLMilner/THREEAR/blob/cc6b2905f4d6dfad8deae4e90f6da536b57f530a/examples/basic-marker-events.html)

[2020-08-03 12:39] #108 closed

[2020-11-15 21:28] gschian0 opened #110 "running three AR using parcel"
Hi, I'm attempting to run the basic example using parcel... this is my javascript file

`import * as THREE from "three";
//import fragment from "./shader/fragment.glsl";
//import vertex from "./shader/vertex.glsl";
let THREEAR = require("threear");
let OrbitControls = require("three-orbit-controls")(THREE);

export default class Sketch {
  constructor(options) {
    var renderer = new THREE.WebGLR

[2020-11-17 05:44] gschian0 commented on #110
how I got it working...

`import * as THREE from "three";
import marker from '../patt.hiro';
let THREEAR = require("threear");
let OrbitControls = require("three-orbit-controls")(THREE);`

[2020-11-19 00:02] #110 closed

[2020-11-19 00:03] gschian0 commented on #110
figured it out per last comment

[2020-12-06 19:34] tosiek88 opened #114 "Debug canvas is not working due wrong binding."
Instead of :
`public static setDebugMode: (id: number, mode: number) => any =
		Module.getLogLevel;`

Should be
`
public static setLogLevel: (mode: any) => any = Module.setLogLevel;
`
In .`/src/artoolkit/ARToolKit.ts r:68`

[2020-12-08 13:24] JamesLMilner commented on #114
Thanks for pointing this out, will fix when I have a moment

[2021-01-02 01:20] floogulinc opened #116 "Publish v1.0.0 to npm"
The [latest version of this package on npm](https://www.npmjs.com/package/threear) is currently `1.0.0-alpha.5`. I see `v1.0.0` was tagged 19 days ago. Could you publish it to npm?

The version in `package.json` would also need to be updated.

[2021-05-06 18:49] gschian0 opened #118 "running threear in codesandbox.io"
Hey, I'm trying to get THREEAR to work in codesandbox for teaching a class on setting up webAR with three.js so I don't have to have students set up a local environment to get their feet wet.  This same script works in my vs code using parcel bundler but I can't get it to work properly in codesandbox.io here is the link to the current version of the sandbox,
https://codesandbox.io/s/ar-tests-for-s

[2021-05-13 18:26] gschian0 opened #121 "Webpack importing library not working... works with Parcel"
using webpack I get this readout in terminal... when running the basic example... Request Header file too large...
`[WDS] Live Reloading enabled.
THREEAR.js:1 Allocated videoFrameSize 1228800
THREEAR.js:1 Pattern detection mode set to 1.
THREEAR.js:1 Pattern ratio size set to 0.500000.
script.js:166 i {parameters: {…}, markers: {…}, smoothMatrices: Array(0), arController: e, _updatedAt: null, …}
T

[2021-05-17 08:29] JamesLMilner commented on #121
This looks like a request issue with your backend as the request returned 431 https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/431

[2021-05-17 08:30] JamesLMilner commented on #121
Also can you clarify if this is the same issue you are seeing here? https://github.com/JamesLMilner/THREEAR/issues/118 Would be good to just keep it to one issue if so

[2021-05-18 21:27] gschian0 commented on #121
I don't think it's the same issue, but I will look into it again.

[2021-09-30 17:46] JamesLMilner commented on #121
I'm going to close this as there's been no follow up for a fair while.

[2021-09-30 17:46] #121 closed, assigned to nobody

[2021-09-30 17:48] JamesLMilner commented on #118
Hey @gschian0  sorry I haven't got back to you about this. Can you clarify what you mean by 'cant get it to work properly?'. If this is not relevant any more I will close it out. Thanks!

[2022-05-18 07:36] naonvl opened #127 "Using latest angular"
Hi i really love this project, but can i use this on latest version of angular?

[2022-05-19 07:06] naonvl commented on #127
ah nvm, i manage to edit some part of your code to work with angular 13. but having your code is updated will be much appreciated

[2022-05-19 09:51] #127 closed, assigned to nobody

[2022-05-24 10:32] naonvl opened #128 "iOS issue on latest angular"
Hi, i'm currently using this repo with angular 13 and it's working well on android. But on iOS, the custom marker didn't work properly, only hiro marker is working. I'd like to know how to update the code to the latest ar.js? i also wanted to try using ar-threex.js but i haven't make it work on angular yet.

I'll really appreciate any thought on this. Thank you